MONGODB_URI=mongodb+srv://testuser:dontreusethis@cluster0-gc0a7.mongodb.net/nextjsmongodbapp?retryWrites=true&w=majority
CLOUDINARY_URL=cloudinary://741947492169653:vkyuRmZ3EbSULnkfXJdtSqwhURw@dbplcha6k
DB_NAME=nextjsmongodbapp
SENDGRID_API_KEY=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
EMAIL_FROM=averyniceguy@nextjs-mongodb.now.sh
WEB_URI=https://nextjs-mongodb.now.sh
SESSION_SECRET=keyboard cat